 img{
    width: 450px;
    height: 450px;
} 

.container-fluid{
    margin-left: 18rem;
}

nav {
    position: fixed;
    background-color: rgb(11, 38, 61);
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    top: 0;
    left: 0;
    max-width: 20rem;
    overflow-x: scroll;
    text-align: center;
  }
  ul li {
      padding: 1.5rem;
      border-bottom: 1px solid white;
      display: block;
  }
  ul li:hover{
      background-color: black;
      color: white;
      cursor: pointer;
  }
 code{
     background-color: greenyellow;
 }
